{% extends 'dashboard.html' %}

{% block myblock %}
<div class="container">
    <div class="row">
        {% for publish_post in publish_post %}
        <div class="col-md-4 my-2">
            <div class="card mb-3" style="box-shadow: 0px 0px 10px gray;">
                <img class="card-img-top" src="{{publish_post.image.url}}" alt="Card image cap">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <h5 class="card-title"><li class="list-group-item">Title: <i>{{publish_post.title}}</i></li></h5>
                        <h5 class="card-text"><li class="list-group-item">Category: <i>{{publish_post.category}}</i></li></h5>
                        <h5 class="card-title"><li class="list-group-item">Summary: <i>{{publish_post.summary|slice:"0:15"}} .....</i></li></h5>
                        <h5 class="card-title"><li class="list-group-item">Content: <i>{{publish_post.content|slice:"0:50"}} ....</i></li></h5>
                        <li class="list-group-item">{{publish_post.created_on}}</li>
                      </ul>
                    <a href="{% url 'account:read_full_article' publish_post.id %}" class="card-link">Read full article</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}