{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 p-0 bg-secondary">
            <ul type="None" class="mt-2">
                <a href="{% url 'account:profile' %}"><li class="text-light">My Profile</li></a>
                <br>
                {% if user.is_staff %}
                <a href="{% url 'account:create_blog' %}"><li class="text-light">Create Blog</li></a>
                <br>
                <a href="{% url 'account:my_blog' %}"><li class="text-light">My Blog</li></a>
                <br>
                <a href="{% url 'account:logout' %}"><li class="text-light">Logout</li></a>
                {% else %}
                <a href="{% url 'account:all_blog' %}"><li class="text-light">All Blog Post</li></a>
                <br>
                <a href="{% url 'account:logout' %}"><li class="text-light">Logout</li></a>
                
            
                {% endif %}
            </ul>
        </div>
        
{% block myblock %}

{% endblock %}
        
    </div>
</div>


{% endblock %}