{% extends 'dashboard.html' %}

{% block myblock %}
        {% for data in data %}
        <div class="col-md-3 my-2">
            <div class="card mb-3" style="box-shadow: 0px 0px 10px gray;">
                <img class="card-img-top" src="{{data.profile_pic.url}}" alt="Card image cap" style="max-height: 300px;">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <h5 class="card-title"><li class="list-group-item">Doctor Name: <i>{{data.user.first_name}} {{data.user.last_name}}</i></li></h5>
        
                        <li class="list-group-item"></li>
                      </ul>
                    <a href="{% url 'account:book_appointment' data.user.id %}" class="btn btn-primary">Book Appointment</a>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}